@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wrapper {
        @apply grid relative top-[70px] h-[100vh] bg-[#303030] text-[#a6a6a6] px-1
    }
    .basicGrid {
        grid-template: 1fr / 2fr 3fr 2fr 3fr 2fr
    }
}