@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply px-2 bg-red-700 rounded-sm active:scale-[0.97];
    }
    .text {
        @apply relative bottom-[1px];
    }
}